$color1: grey;
$color1HL: lightgrey;
$color1HHL: white;

$color1: grey;
$color1LL: dimgrey;
$color1LLL: black;

$color2: goldenrod;
$color2LL: darkgoldenrod;
$color2HL: palegoldenrod;
$color2LLL: sienna;

$font1: 'Arial', cursive; //Helv, sans-serif;

$tttboard: white;

//-------------------------------------go
#alerts {
	font: $font1;
	font-size: 30px;
    height: 50px;
    line-height: 50px;
}

#pass-btn {
	font: $font1;
	font-size: 30px;
	padding: 5px 10px 5px 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 3px;
}

#board {
	//height: 784px;
    position: relative;
	background: linear-gradient(45deg, $color2LL, $color2, $color2HL);
	border: 5px solid saddlebrown;
	border-radius: 3px;
	border-image: url(../img/woodeffect.jpg) 30 stretch; //overwrites border color
    z-index: 0; }

.intersection {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;

    box-sizing: border-box;
}

.intersection:before {
    border-top: 2px #000 solid;
    width: 40px;
    display: block;
    content: "";
    top: 18px;
    position: absolute;
    z-index: -1;
}

.intersection:after {
    border-left: 2px #000 solid;
    height: 40px;
    display: block;
    content: "";
    left: 18px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.intersection.black, .intersection.white {
    border: none; //1px solid darkgrey;
}

.intersection.black {
	background-color: $color1LLL;
	//background: linear-gradient(45deg, $color1LLL, $color1); //angle of second color on top
	background: radial-gradient($color1LL, $color1LLL); //first color outer // leave out %s for even distribution
}

.intersection.white {
	background-color: $color1HHL;
    //background: linear-gradient(45deg, $color1, $color1HHL);
	background: radial-gradient($color1HHL, $color1);
}



//--------------------- ttt

body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: $tttboard;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
