{% extends "base.html" %}

{% block headextra %}
<title>dmlGo</title>
<link rel='stylesheet' href='./static/css/dmlgames.css'/>
{% endblock headextra %}


{% block content %}


<h1>Go!</h1>
<div id="gomenu"></div>

<div id="goslider" style="height:auto;">
<div id="gocontainer9" class = "gocontain" style="display: block"></div>
<div id="gocontainer13" class = "gocontain" style="display: none"></div>
<div id="gocontainer19" class = "gocontain" style="display: none"></div>

</div>

{% endblock content %}


{% block scriptextra %}
<script type="text/javascript" src="/static/js/bundle.go_container.js" defer></script>
{% endblock scriptextra %}
