<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>dmlreact</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel='stylesheet' href='./static/css/dmlreact.css'/>

</head>

<body>



<div id="greeting" class="col-sm-6"></div>
<div id="tweetbox" class="col-sm-6"></div>
<div id="tweetbox" class="col-sm-6"></div>

<div>
	<h1>Index Links</h1>
	<ul>
		<li><a href="/hello">Hello</a></li>
		<li><a href="/go">Go</a>
		<li><a href="/tictactoe">TicTacToe</a>
	</ul>
</div>

<div>
	<h1>Index Links</h1>
	<ul>
		<li><a href="http://chibicode.com/react-js-introduction-for-people-who-know-just-enough-jquery-to-get-by">twitter box code</a>
		<li><a href="https://facebook.github.io/react/tutorial/tutorial.html">TTT code</a>
		<li><a href="https://rawgit.com/calebcassel/react-demo/master/part8.html">dogfood code</a>
	</ul>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script type="text/javaScript" src="/static/js/bundle.app.js" defer></script>

</body>
</html>
